p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.caution {

  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #0f2d54;
  position:relative;
  color: white;
  border: 2px solid orange;
  border-radius: 10px;

}
div.caution:before {
    content: "\f118";
    font-family: FontAwesome;
    left:15px;
    position:absolute;
    top:2px;
    font-size: 40px;
 }